{% if navigationMenu.categories | length > 0 or site.menu_items.row1 | length > 0 %}
	<nav id="navigation">
		<div class="category-level-1">
			<ul>
				{% for firstLevelCategory in navigationMenu.categories %}
					<li {% if firstLevelCategory.subCategories | length > 0 %}class="has-sub-category"{% endif %} data-selector="first-level-navigation">
						<a href="{{ firstLevelCategory.url }}" title="{{ firstLevelCategory.name }}">
							<span>{{ firstLevelCategory.name }}</span>
						</a>
						{% if firstLevelCategory.subCategories | length > 0 %}
							<div class="sub-category category-level-2">
								<ul>
									{% for secondLevelCategory in firstLevelCategory.subCategories %}
										<li class="{% if navigationMenu.settings.useCategoryImage %}navigation-category-image{% endif %}{% if secondLevelCategory.subCategories | length > 0 %} has-sub-category{% endif %}">
											<a href="{{ secondLevelCategory.url }}" title="{{ secondLevelCategory.name }}">
												{% if navigationMenu.settings.useCategoryImage %}
													<div>
														<img src="{{ secondLevelCategory.imageUrl | default(getNopicImageUrl()) }}" alt="{{ secondLevelCategory.name }}"/>
													</div>
												{% endif %}
												<span>{{ secondLevelCategory.name }}</span>
											</a>
											{% if not navigationMenu.settings.useCategoryImage %}
												{% if secondLevelCategory.subCategories | length > 0 %}
													{% if navigationMenu.settings.thirdLevelCategoryCount > 0 %}
														{% set thirdLevelCategoryLimit = navigationMenu.settings.thirdLevelCategoryCount %}
													{% else %}
														{% set thirdLevelCategoryLimit = secondLevelCategory.subCategories | length %}
													{% endif %}
													<div class="sub-category category-level-3">
														<ul>
															{% for thirdLevelCategory in secondLevelCategory.subCategories | slice(0,thirdLevelCategoryLimit) %}
																<li>
																	<a href="{{ thirdLevelCategory.url }}" title="{{ thirdLevelCategory.name }}">
																		<span>{{ thirdLevelCategory.name }}</span>
																	</a>
																</li>
															{% endfor %}
															{% if navigationMenu.settings.thirdLevelCategoryCount > 0 and secondLevelCategory.subCategories | length > navigationMenu.settings.thirdLevelCategoryCount %}
																<li class="navigation-show-all">
																	<a href="{{ secondLevelCategory.url }}">{{ theme.settings.navigation_showall }}</a>
																</li>
															{% endif %}
														</ul>
													</div>
												{% endif %}
											{% endif %}
										</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
					</li>
				{% endfor %}
				{% for menu_item in site.menu_items.row2 %}
					<li data-selector="first-level-navigation">
						<a href="{{ menu_item.link }}" target="{{ menu_item.target }}" rel="noopener">{{ menu_item.label }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</nav>
	<script>
		var navigationMenu = {{ navigationMenu | json_encode }};
	</script>
{% endif %}